<a href="https://colab.research.google.com/github/ribka-5/Pemrograman-Berbasis-Fungsi/blob/main/functional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Larangan

1. Tidak Boleh ada looping literal (for, while, do while)
2. Tidak boleh mutasi state (engga boleh re-assign variable)

```python
# Dilarang
a = 1
a = a + 1

# Diperbolehkan
b = 1
c = b + 1 # transformasi!
```

In [ ]:
# f(x) = 2x + 1
def f(x):
  return 2 * x + 1

5

# First Class Object

1. Bisa disimpan dalam variabel!

In [ ]:
# y = f(x)
y = f

y(2)

5

2. Bisa sebagai kembalian dari sebuah fungsi

In [ ]:
def square(n):
  return n * n


def p():
  return square


s = p()
s(10)

100

3. Fungsi sebagai parameter/argument untuk fungsi lain.

In [ ]:
def t(fn):
  y = fn(3)
  return y


should_be_9 = t(square)

print(should_be_9)

9

4. Fungsi boleh didalam sebuah ekspresi.

Syaratnya adalah fungsi yang diperboleh kedalam expresi hanya fungsi yang tidak bernama.

Makanya kita ganti deklarasi fungsinya menggunakan **lambda**.

In [ ]:
fx = (lambda x: x * 2) # function expression
fx(2)
fx(3)

6

In [ ]:
z = (lambda n:  n + square(8)) # function expression
z(7) # invoked function expression

71

In [ ]:
z = (lambda n:  n + square(8))(7) # Immediately invoked function expression
z

71

In [ ]:
pow(10, 2)

100

In [ ]:
pow10 = (lambda x: pow(10, x))
pow10(5)

100000

## Closure dan Variable Scope

In [ ]:
global_variabel = 100 # Global variabel => tersedia dimanampun

def addBy(n):
  local_variabel = 10 * n # Local variable `hanya tersedia` didalam fungsi tersebut.
  def closure(adder):
    return local_variabel + adder # Enclosing variable, meminjam variabel lokal dari parentnya (pembungkusnya).

  return closure

# list = 2 => built in variabel.

# def closure(adder):
#   return 10 * 3 + adder

closure1 = addBy(3)
closure2 = addBy(4)
print(closure1(5))
print(closure2(5))

35
45

In [ ]:
def addBy_lambda(n):
  local_variabel = 10 * n
  return lambda adder: local_variabel + adder

# def closure(adder):
#   return 10 * 3 + adder

closure1 = addBy_lambda(3)
closure2 = addBy_lambda(4)
print(closure1(5))
print(closure2(5))

35
45

# High Order Function (HOC)

1. Fungsi yang diberikan sebagai argument untuk fungsi lain, atau/dan
2. Fungsi yang dijadikan sebagai kebalian dari fungsi lain.

In [ ]:
# [1, 2, 3, 4] -> fy(x) = 2*x -> [2, 4, 6, 8]
numbers = [1, 2, 3, 4]

def fy(x):
  return 2 * x

# list(map(lambda x:2 * x, numbers))


#
# mapped = list(map(fy, numbers))
# [1, 2, 3, 4] -> 2*x -> [2, 4, 6, 8] -> 3*x [6, 12, 18, 25]
mapped = list(map(lambda x:2 * x, numbers))
second_mapped = list(map(lambda x: 3 * x, mapped))
print(numbers)
print(mapped)
print(second_mapped)
# for x in map(fy, numbers):
#   print(x, end=" ")

[1, 2, 3, 4]
[2, 4, 6, 8]
[6, 12, 18, 24]

In [ ]:
numbers = [1, 2, 3, 4]

numbers = list(range(1, 10, 2))
print(numbers)

list(map(lambda x: x * 10, list(range(1, 10))))

[1, 3, 5, 7, 9]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
class Book:
  def __init__(self, title, price):
    self.title = title
    self.price = price


book_dsa = Book("Data Structure and Algorithm", 150_000)
print(book_dsa.__dict__)

{'title': 'Data Structure and Algorithm', 'price': 150000}

In [ ]:
books = [
  Book("Data Structure and Algorithm", 150_000),
  Book("Machine Learning", 170_000),
  Book("Functional Programming", 125_000),
  Book("Intro to Computer Science", 155_000),
]

In [ ]:
def pluck(field):
  return lambda keyval: keyval[field]

In [ ]:
def to_keyval(o):
  return o.__dict__

In [ ]:
def with_discont(rate):
  return lambda price: price - price * rate

In [ ]:
def reduce(initial, reducer,  arr):
  if len(arr) == 0:
    return initial

  [current, *rest] = arr
  reduced = reducer(initial, current)

  return reduce(reduced, reducer, rest)


def sum_reducer(x,y):
  return x+y

In [ ]:

total_price_of_books_after_discont = reduce(
    0, sum_reducer, list(
        map(with_discont(0.2),
            map(pluck("price"),
                map(to_keyval, books)))))


print(total_price_of_books_after_discont)

480000.0